<div class="main-container">
	<nav class="navbar navbar-default margin-0 border-none">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="" class="logo"></a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
				<li><a href="#">Link</a></li>
				<li class="dropdown">
			  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				    <li><a href="#">Action</a></li>
				    <li><a href="#">Another action</a></li>
				    <li><a href="#">Something else here</a></li>
				    <li class="divider"></li>
				    <li><a href="#">Separated link</a></li>
				    <li class="divider"></li>
				    <li><a href="#">One more separated link</a></li>
				</ul>
	        	</li>
	      	</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
			</ul>
	    </div>
	  </div>
	</nav>
	
	<div id="tittle" class="container-fluid padding-0">
		<video class="video" width="auto" height="auto" preload="auto" autoplay="autoplay" loop>
            <source src='http://pi-themes.com/videos/dissolve.webm' type='video/webm'/>
            <source src='http://pi-themes.com/videos/dissolve.mp4' type='video/mp4'/>
		</video>
		<div class="container">
			<div class="jumbotron">
	            <h1>Grandes soluciones ! <small>
	            	<p>
						Actualmente contamos con un personal Técnico especializado y supervisado por ingenieros,  las herramientas técnicas y tecnológicas necesarias para monitorear y controlar los parámetros de funcionamientos del ciclo de refrigeración.
					</p></small>
				</h1>
				<p><a class="btn btn-primary btn-lg">Contáctanos</a></p>
			</div>
		</div>	
	</div>
	<div class="container-fluid relative">
		<div  id="services">
			<div id="services-header" class="row">
				<h2>Servicios</h2><small>
				<p>En Termosoluciones contamos con una gran variedad de excelentes servicios:</p>	
				</small>
				
			</div>
			<div class="row text-center">
				<div  class="col-xs-12 col-md-6 top-buffer">
					<div id ="si-gold" class="service-icon">
						<i class="pixeden pd-icon-mtm"></i>
					</div>
					<h5 class="gold-border-bottom">mantenimiento</h5>
					<p>Nuestros mantenimientos están dirigidos a la Eficiencia Energética.Los equipos y sistemas antes de perder disponibilidad generalmente pierden eficiencia.</p>
				</div>
				<div class="col-xs-12 col-md-6 top-buffer">
					<div id="si-red" class="service-icon">
						<i class="pixeden pd-icon-design"></i>
					</div>
					<h5 class="red-border-bottom">diseños</h5>
					<p>Nuestros ingenieros se caracterizan por prestar servicios bajo el enfoque del uso racional de la energía que tiene como propósito optimizar los recursos energéticos, disminuir costos y mitigar el impacto ambiental.</p>
				</div>
				<div class="col-xs-12 col-md-6 top-buffer">
					<div id ="si-blue" class="service-icon">
						<i class="pixeden pd-icon-acc"></i>
					</div>
					<h5 class="blue-border-bottom">suministros</h5>
					<p>Suministramos equipos  tipo Mini Split, Paquetes y Split, para sistemas Industriales, Comerciales y Residenciales de Aires Acondicionados en las mejores marcas  tales como:  Paramo, Lennox, Trane, York, Carrier, Confortfresh, Tecam entre otros.</p>
				</div>
				<div class="col-xs-12 col-md-6 top-buffer">
					<div id ="si-green" class="service-icon">
						<i class="pixeden pd-icon-eco"></i>
					</div>
					<h5 class="green-border-bottom">gestión integral de energía</h5>
					<p>En cualquier empresa se lleva una gestión de almacén, de ventas, de administración, etc. Se consigue con ello tener controladas las distintas facetas y poder tomar decisiones de forma acertada, no siendo así en el área  de consumo energético por lo que no se tiene un control adecuado en las decisiones que representan un valor económico considerable para la empresa, situación que conlleva a desechar posibilidades que maximizarían  la competitividad de la empresa.</p>
				</div>
			</div>
		</div>	
	</div>
</div>